* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Darker Grotesque";
  font-style: normal;
}

p,
input,
label,
li,
a {
  font-family: "Nunito Sans";
  font-style: normal;
}

@media (min-width: 360px) {
  .top-section-form {
    width: fit-content;
  }
  .top-section-form .info-esquerda {
    margin: 2.5rem 1rem 2rem;
  }
  .top-section-form .info-esquerda h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 100%;
    color: #212429;
    margin-bottom: 1.5rem;
  }
  .top-section-form .info-esquerda p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #212429;
  }

  /*---Formulário---*/

  .form-cadastro {
    background: rgb(224, 224, 224);
    margin: 0 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .form-cabecalho,
  .input-text {
    width: 17.5rem;
  }
  .form-cabecalho h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    color: #212429;
    margin-top: 2.5rem;
  }

  .form-cabecalho p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    text-align: center;
    color: #7e8a98;
    margin-top: 1rem;
  }
  .divisoria {
    width: 17.5rem;
    height: 1px;
    background-color: #cfd3d8;
  }
  .input-text, .site-radio {
    width: 100%;
    margin-top: 1rem;
  }

  .input-text label{
    margin-bottom: 0.5rem;
  }

  .input-text input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: inset 6px 6px 0px #EEFBFB;
  }
  .input-text span{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
  }
  .site-empresa{
    width: 100%;
    margin-top: 1rem;
  }
  .site-empresa p{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
  }
  .endereco-site{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: inset 6px 6px 0px #EEFBFB;
    margin: 1rem 0;
  }
  .input-text input::placeholder{
    margin-left: 0.75rem;
  }
}

/* .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 345px;
    height: 393px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    border-radius: 2px;
}

.img-card{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F1F3F5;
}

.card h2{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212429;
}
.card p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #212429;
}
 */
